* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --bg-color: #330505;
  --text-color: #fff;
  --purple-color: #2c1f33;
  --light-purple-color: #422d4c;
  --dark-blue-color: #070018;
  --orange-color: #f4850f;
  --lilac-color: #000000;
  --red-color: #440101;
  --h1-color: #070a1a;
  --hallow-color: #000000;
  --hallow-to-color: #700101;
  --menu-color: #0000003c;
  --about-box-color: #000000;
  --about-content-color: #703b2d;

  /* box shadow */

  --dark-box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  --light-box-shadow: 0 0 15px rgba(255, 255, 255, 0.497);
  ---dark-text-shadow: 0 0 15px #000000;
  --text-shadow: 0 0 15px #fff;

  /* fonts */

  --header-font: "frankenweenieregular";
  --menu-font: "Creepster", system-ui;
}
/* fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


html {
  min-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
/* body */
body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.container,
.about,
.timer,
.cards-container,
.map,
.footer {
  margin: auto;
}

.scroll-top {
  position: fixed;
  right: 15px;
  bottom: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  background-color: var(--hallow-to-color);
  border-radius: 50%;

  cursor: pointer;

  box-shadow: var(--light-box-shadow);
}

.scroll-top span {
  color: #fff;
  font-weight: bold;
  font-size: 16pt;
  padding-bottom: 2px;
}

/* Contêiner para as gotas */
#blood-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Permite clicar através do contêiner */
  overflow: hidden; /* Esconde gotas que saem do contêiner */
  z-index: 10;
}

/* Estilo para as gotas de sangue */
.blood-drop {
  position: absolute;
  width: 8px; /* Largura da gota */
  height: 12px; /* Altura da gota */
  background-color: rgba(148, 0, 0, 0.781); /* Cor da gota */
  border-radius: 50%;
  opacity: 0.8;
  animation-name: fall;
  animation-timing-function: ease-in;
}

/* Animação de queda */
@keyframes fall {
  0% {
    transform: translateY(0) scale(1);
  }
  80% {
    transform: translateY(90vh) scale(1.1); /* Ajuste para simular peso */
  }
  100% {
    transform: translateY(100vh) scale(1);
    opacity: 0;
  }
}

/* Contêiner para neblina */
.fog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

/* Estilos para cada camada de neblina */
.fog-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Para se mover além das bordas */
  height: 200%;
  transform: rotate(14deg); /* Leve rotação para disfarçar bordas */
  background: url('images/fog.webp') repeat;
  opacity: 0; /* Transparência da primeira camada */
  animation: moveFog 120s linear infinite; /* Duração do movimento */
  filter: blur(8px); /* Ajuste o valor do blur para disfarçar bordas */
}
}

#fog2 {
  opacity: 0; /* Transparência da segunda camada */
  animation-duration: 110s; /* Velocidade diferente para profundidade */
}

/* Animação para mover a neblina horizontalmente */
@keyframes moveFog {
  from {
    transform: translateX(-50%) translateY(-50%);
  }
  to {
    transform: translateX(50%) translateY(50%);
  }
}


/* header container */
.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  height: 90%;
  position: relative;
  background-image: url(/assets/images/pentagram-bg-teste.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  box-shadow: var(--dark-box-shadow);
  z-index: 1;
}
.container .menu .logo {
  padding-left: 50px;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .menu .logo img {
  width: 50px;
}
.container .menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 70px;
  top: 0;
  position: absolute;
  background-color: var(--menu-color);
}
.container .menu ul {
  position: relative;
  width: 100%;
  height: 100%;
  gap: 100px;
  font-size: 17px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  z-index: 5;
}
.container .menu ul li a {
  text-decoration: none;
  font-style: italic;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
  color: var(--text-color);
  transition: 300ms all;
}
.container .menu ul li a:hover {
  color: var(--hallow-color);
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
.container .menu .social {
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  z-index: 5;
}
.container .menu .social a {
  transition: 300ms all;
}
.container .menu .social a:hover {
  transform: scale(1.25);
}
/* content */
.container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
  width: 100%;
  height: 100%;
}
/* content h1 */
.container .content .hallow {
  padding-top: 40px;
  width: 100%;
  max-width: 100%;
  font-family: "frankenweenieregular";
  font-size: 100px;
  letter-spacing: 7px;
  text-align: center;
  color: var(--h1-color);
  text-shadow: var(--text-shadow);
  animation: hallow 3s infinite;
  animation-timing-function: 10s;
}

#alter{
  font-size: 40px;
  padding: 0px;
  margin: -40px;
}

/* h1 animation */
@keyframes hallow {
  0% {
    color: var(--hallow-color);
    text-shadow: var(--text-shadow);
  }
  50% {
    color: var(--hallow-to-color);
    text-shadow: var(--text-shadow);
  }
  100% {
    color: var(--hallow-color);
    text-shadow: var(--text-shadow);
  }
}
/* content witch image */
.container .content .witch {
  width: 301px;
  height: auto;
  position: absolute;
  padding-bottom: 200px;
  z-index: -1;
  animation: 3s ease-in-out 0.33s infinite normal none running witch;
}
@keyframes witch {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
.container .content p {
  width: 100%;
  max-width: 100%;
  color: var(--text-color);
  font-size: 28px; /* Tamanho de fonte para o primeiro parágrafo */
  text-align: center;
  font-style: italic;
  font-family: cursive, system-ui;
  text-shadow: var(--text-shadow);
  color: var(--text-color);
  margin: 0; /* Remove margens padrão entre parágrafos */
  text-shadow: var(--text-shadow);
}

/* Estilizando o segundo parágrafo */
.container .content p:nth-of-type(2n) {
  font-size: 15px; /* Define um tamanho de fonte menor para todos os parágrafos pares */
  margin: -60px;
  padding-bottom: 50px;
  color: var(--text-color);
  font-family: var(--menu-font);
  font-family: cursive, system-ui;
  font-style: oblique;
  font-weight: bold;
}

.container .content .join {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-family: "frankenweenieregular";
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--hallow-to-color);
  color: var(--hallow-color);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 500ms all;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -ms-transition: 500ms all;
  -o-transition: 500ms all;
}
.container .content .join:hover {
  box-shadow: var(--light-box-shadow);
  background-color: var(--hallow-color);
  color: var(--hallow-to-color);
}

/* About */

.about {
  margin-top: 150px;
  display: flex;
  width: 80%;
  height: 90%;
  background-image: url(/assets/images/blood-hand-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--dark-box-shadow);
  border-radius: 25px;
}
.about .img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .img .ghost {
  width: 600px;
  height: auto;
  position: absolute;
  animation: 3s ease-in-out 0.33s infinite normal none running ghost;
}

.premio{
  font-weight: bolder;
  font-size: 20px;
}

@keyframes ghost {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(15px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
.about .about-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.about .about-content h1 {
  text-align: center;
  font-size: 30px;
  font-family: var(--menu-font);
  color: var(--text-color);
}
.about .about-content p {
  width: 500px;
  height: 600px;
  max-width: 100%;
  overflow: auto;
  color: var(--text-color);
  font-size: 17px;
  line-height: 2em;
  text-align: center;
  font-style: italic;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
}
/* Trick or Treat */
.t-o-t {
  font-size: 90px;
  color: var(--hallow-color);
  text-align: center;
  margin-top: 100px;
  font-family: var(--header-font);
  animation: tot 1.25s infinite;
  animation-timing-function: 10s;
}
@keyframes tot {
  0% {
    color: var(--red-color);
    text-shadow: var(--text-shadow);
  }
  50% {
    color: var(--lilac-color);
    text-shadow: var(--text-shadow);
  }
  100% {
    color: var(--red-color);
    text-shadow: var(--text-shadow);
  }
}
/* Cards */
.cards-container {
  margin-top: 20px;
  width: 80%;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 600px;
  border-radius: 25px;
  box-shadow: var(--dark-box-shadow);
  transition: 500ms all;
}
.card:hover {
  cursor: pointer;
  transition: 500ms all;
  animation: card-fly 2s ease-in-out infinite normal none running;
  box-shadow: 0 0 15px #ffffff46;
}
@keyframes card-fly {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
.card h1 {
  color: var(--text-color);
  font-size: 35px;
  text-align: center;
  padding-top: 15px;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
}

.card .info-ticket {
  color: var(--text-color);
  font-size: 15px;
  text-align: center;
  padding: 15px;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
}

.card .ticket-img {
  width: auto;
  height: 250px;
  margin: auto;
  padding: 10px;
}
.card:nth-child(1) {
  background: rgb(22, 20, 68);
  background: linear-gradient(0deg, rgb(48, 47, 47) 0%, rgb(73, 73, 73) 100%);
}
.card:nth-child(2) {
  background: rgb(95, 31, 97);
  background: linear-gradient(
    0deg,
    rgba(95, 31, 97, 1) 0%,
    rgba(209, 93, 85, 1) 100%
  );
}
.card:nth-child(3) {
  background: rgb(31, 26, 26);
  background: linear-gradient(0deg, rgb(56, 48, 140) 0%, rgb(89, 85, 164) 100%);
}
.cards-container .cards .card .card-price {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  font-size: 25px;
  text-align: center;
  font-family: var(--menu-color);
  padding-top: 10px;
}
.cards-container .cards .card .ticket-button {
  margin: auto;
  width: 200px;
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.2);
  height: 50px;
  border-radius: 25px;
  border: none;
  color: var(--text-color);
  font-size: 20px;
  font-family: var(--menu-font);
  transition: 500ms all;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  line-height: 2.4;
}
.cards-container .cards .card:nth-child(1) .ticket-button {
  background-color: #354f83;
  color: #ffffff;rgb(0, 0, 0)
  text-shadow: var(--text-shadow);
}
.cards-container .cards .card:nth-child(2) .ticket-button {
  background-color: #cb5a55;
  color: #ffffff;
  text-shadow: var(--text-shadow);
}
.cards-container .cards .card:nth-child(3) .ticket-button {
  background-color: #5753a3;
  color: #ffffff;
  text-shadow: var(--text-shadow);
}
.cards-container .cards .card .ticket-button:hover {
  box-shadow: var(--light-box-shadow);
  cursor: pointer;
  transform: scale(1.05);
}

.card .card-description {
  text-align: center;
  width: 100%;
}

.card .card-description ul {
  list-style-type: none;
}

.card .line {
  width: 80%;
  height: 0.1px;
  background-color: #fff;
  margin: auto;
}

.card .card-description ul li {
  color: #fff;
  font-weight: semibold;
  font-size: 16pt;
  text-shadow: var(--text-shadow);
  position: relative;
}

.card .card-description ul li:last-child {
  padding-bottom: 20px;
}

.card .card-description ul li::before {
  content: "-";
  position: absolute;
  left: 40px;
}

/* TIMER */

.timer {
  margin-top: 150px;
  display: flex;
  width: 70%;
  height: 50%;
  background-image: url(/assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--dark-box-shadow);
  border-radius: 25px;
  color: white;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  text-align: center;      /* Garante que o texto fique alinhado ao centro */
  font-size: 3vw;
  font-family: var(--menu-font);
  
}

.timer .img .ghost {
  width: 600px;
  height: auto;
  position: absolute;
  animation: 3s ease-in-out 0.33s infinite normal none running ghost;


}

@keyframes heartbeat {
  0%, 20% {
    transform: scale(1);
    color: #330000; /* Vermelho intenso */
    text-shadow: 0 0 10px #d10c0c, 0 0 20px #000000;
  }
  30% {
    transform: scale(1.2);
    color: #470000;
    text-shadow: 0 0 20px #8b0000, 0 0 40px #400000;
  }
  40% {
    transform: scale(1.05);
    color: #970000;
    text-shadow: 0 0 10px #d10c0c, 0 0 30px #6b0a0a;
  }
  70% {
    transform: scale(1.15);
    color: #4b0101;
    text-shadow: 0 0 15px #a80000, 0 0 35px #020000;
  }
  100% {
    transform: scale(1);
    color: #6d0000;
    text-shadow: 0 0 10px #d10c0c, 0 0 20px #6b0a0a;
  }
}

#timer #time {
  animation: heartbeat 1.5s infinite;
  font-size: 5vw; /* Ajuste o tamanho para combinar com o efeito */
  font-weight: bold;
}




/* confirmados */


.confirmados {
  background-color: #1c1c1c; /* Fundo escuro */
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  max-height: 500px; /* Altura máxima fixa */
  margin: 20px auto;
  margin-top: 100px;
  color: #fff;
  text-align: center;
  font-family: 'Creepster', sans-serif; /* Fonte temática */
}

.confirmados h2 {
  font-size: 1.8em;
  color: #ff4444; /* Cor do título */
  text-shadow: 2px 2px #000;
  margin-bottom: 10px; /* Espaço abaixo do título */
}

.guest-item {
  background: rgba(255, 68, 68, 0.1);
  padding: 10px;
  border: 1px solid #ff4444;
  border-radius: 4px;
  margin: 5px 0;
  font-size: 1.2em;
  display: flex; /* Usamos flexbox para alinhar os itens */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.guest-item:hover {
  transform: scale(1.05);
}

.pumpkin-emoji {
  content: "\1F383 "; /* Código Unicode para a abóbora 🎃 */
  font-size: 1.2em;
  margin-right: 5px; /* Espaço entre a abóbora e o nome do convidado */
}

.guest-name {
  font-size: 18px; /* Tamanho do texto do nome do convidado */
  color: #ffffff; /* Cor do texto */
  display: flex; /* Usado para alinhar o texto e o símbolo */
  align-items: center; /* Alinha verticalmente o texto e o símbolo */
}

/* Estilo para o símbolo do pentagrama invertido */
.guest-name::after {
  content: " ⛧"; /* Código Unicode para o pentagrama invertido */
  font-size: 18px; /* Tamanho do texto do símbolo */
  color: #ff0000; /* Cor do símbolo */
  margin-left: 10px; /* Adiciona um espaço à esquerda do símbolo */
}

.convidados-list {
  max-height: 350px; /* Altura máxima para a lista de convidados */
  overflow-y: auto; /* Permite rolagem apenas para a lista */
}



/* Endereco */

.endereco {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #354f83;
  background-image: url(images/bg-contact.jpg);
  width: 100%;
  height: 30%;
  padding: 20px; /* Adiciona espaçamento interno */
  flex-wrap: wrap; /* Permite que os itens se reorganizem em telas menores */
  box-shadow: var(--dark-box-shadow);
}

.endereco .rua, .endereco .contato {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(189, 0, 0, 0.829);
  width: 40%;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: left;
  margin: 10px 0;
  border-radius: 15px;
  flex-direction: row; /* Coloca o ícone e o texto na mesma linha */
}

.endereco .rua img, .endereco .contato img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}



.endereco .text-content {
  display: flex;
  flex-direction: column; /* Coloca o h2 e p em coluna */
}

.endereco .text-content h2, .endereco .text-content p {
  margin: 0; /* Remove margens extras */
  text-align: left;
}

.endereco a{
  text-decoration: none;
  font-weight: bolder;
}


@media screen and (max-width: 768px) {
  .endereco {
    flex-direction: column; /* Empilha os itens em telas menores */
    height: auto; /* Altura ajustável em telas pequenas */
  }

  .endereco .rua, .endereco .contato {
    width: 90%; /* Cada item ocupa mais espaço horizontalmente */
  }
}



/* MAP */

.map{
  color: white;
  margin-top: 50px;
  display: flex;
  width: 80%;
  height: 70%;
  background-image: url(/assets/images/blood-hand-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--dark-box-shadow);
  border-radius: 10px;
  justify-content: center;
}

.map .map-content{
  width: 100%;         /* Mapa ocupa toda a largura do contêiner */
  height: 100%;       /* Altura do mapa */
  border: 0;           /* Remove borda */
}

.map .map-content iframe{
  width: 100%;         /* Mapa ocupa toda a largura do contêiner */
  height: 100%;       /* Altura do mapa */
  border: 0;           /* Remove borda */ 
  border-radius: 10px;
}

/* footer  */

.footer {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 200px;
  box-shadow: var(--dark-box-shadow);
  background-image: url(/assets/images/ouija-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .book {
  position: absolute;
  width: 100px;
  height: auto;
  left: 390px;
  top: -00x;
  animation: book 4s ease-in-out infinite normal none running;
}

@keyframes book {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
/* .footer .social-m {
} */

/* MEDIA SCREEN */

@media screen and (max-width: 1300px) {
  /* HEADER */

  .container .content .menu ul {
    display: none;
  }

  /* ABOUT */
  .about {
    flex-direction: column;
  }

  .about .about-content {
    width: 100%;
    justify-content: inherit;
  }

  .about .img {
    width: 100%;
  }

  .about .img .ghost {
    width: 40%;
    height: auto;
  }
  .about .about-content p {
    height: 300px;
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    background-position: 65%;
  }

  .about .img .ghost {
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    background-position: 65%;
  }

  .about .img .ghost {
    width: 80%;
    height: auto;
  }

  .about .about-content p {
    height: 300px;
    width: 90%;
  }

  .footer {
    background-position: 16%;
  }

  .footer .book {
    left: 150px;
  }
}

@media screen and (max-width: 500px) {
  .container .content .hallow {
    font-size: 60px;
  }

  .footer .book {
    left: 130px !important;
  }
}

@media screen and (max-width: 400px) {
  .container .content .hallow {
    font-size: 50px;
  }
}

@media screen and (max-width: 375px) {
  .container .content .menu .logo {
    display: none;
  }

  .footer .book {
    left: 115px !important;
  }
}

@media screen and (max-width: 280px) {
  .card {
    margin: 4px;
  }
  .footer .book {
    width: 160px;
    top: 120px;
    left: 100px !important;
  }
}